
body > main {
    font-family: 'Times New Roman', Times, serif;
}
body{
    margin: 0px;
    padding: 0px;
    background: rgb(249,249,249);
background: linear-gradient(0deg, rgba(249,249,249,1) 0%, rgba(179,52,242,1) 38%, rgba(109,178,255,1) 66%, rgba(255,82,82,1) 100%);

}

nav{
    display: flex;
    width: 100%;
    background-color:#CC1F00;
    justify-content: center;
}

.move{
    color: white;
    margin: 20px;
}
.navlink:link{
    color:white;
    text-decoration: none;
}

.navlink:visited{
    color:white;
    text-decoration: none;
}

.navlink:hover{
    background-color:black;
}

@media (max-width: 600px) {
    .reduceImg{
        max-width: 60%;
        display: block;
        margin: auto;
    }

    #heroImg{
        max-width: 80%;
        display: block;
        margin: auto;

    }
  
    .headerImg{
        height: 100px;
        background-image: url(Images/High-School-Never-Ends.svg);
        background-color: #0500CC;
        background-repeat: no-repeat;
        background-position: center;
        background-size: 70%;
    }

    .heroTxt{
    text-align: center;
    padding: 20px 0;
    max-width: 80%;
    margin: auto;
    }

  h2, .matchTxtToImg{
        margin: auto;
        text-align: center;
        padding: 0 0 20px 0;
    }
    .alignText{
        display: grid;
        max-width: 80%;
        grid-template-columns: 1fr 1fr 1fr;
        text-align: center;
        background-color: white;
        margin: 20px auto;

    }
    .matchTxtToImg{
        max-width: 60%;
        padding: 10px 0 0 0;
    }
.heroSection {
    max-width: 80%;
    padding: 20px 0;
    background-color: white;
    margin: auto;
    padding: 20px 0px;;
}
.catalogueSection{
    max-width: 80%;
    padding: 20px 0;
    background-color: white;
    margin: 20px auto;
}

.preHeroSection {
    
    background-image: url("Images/HSN-Banner.png");
    background-size: cover;
    background-repeat:no-repeat;
    
    margin: 20px auto;
    padding: 10px 0 0 0;
}

.playhead{
    display: grid;
    grid-template-columns: .75fr .25fr;
}
.blog{
    max-width: 80%;
    padding: 20px 0;
    background-color: white;
    margin: 20px auto;
}
 
.fantasyEncounters {
    max-width: 80%;
    padding: 20px 0;
    background-color: white;
    margin: 20px auto;
}

.about{
   max-width: 80%;
    padding: 20px 0;
    background-color: white;
    margin: 20px auto;
}

footer{
    display: grid;
    grid-template-columns: 1fr;
    justify-content: center;
    height: 100px;
    background-color: black;
}
h1{
    padding: 10px 10px 10px 10px;
    margin: 20px;
    background: rgba(0, 0, 0, .75);
    color: white;
    text-align: center;
}
.movePlayhead{
align-self: center;
color: white;
}
.fa-play-circle-o{
    background: rgba(0, 0, 0, .5);
    margin: auto;
    padding: 10px;
    justify-self: start;
}
.footerTxt{
    color: white;
    text-align: center;
    margin: auto;
}
.socialMedia{
    max-width: 100%;
    background-color: #CC1F00;
    text-align: center;
}
.fa-twitter, .fa-facebook, .fa-instagram, .fa-youtube {
    padding: 10px;
color: white;
}
.alignFooterTxt{
    display: flex;
    align-items: center;
}

}